[package]
name = "compiler"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["cdylib"]

[[bin]]
name = "compiler-bin"
path = "src/lib.rs"

[dependencies]
peg = "0.8.5"
#peg = { path = "/tmp/rust-peg/"}


